@import "app_styling";
@import "bower_components/bootstrap/scss/bootstrap";


.slider-selection {
  background-image: linear-gradient(to bottom, $brand-primary 0%, darken($brand-primary, 10%) 100%)
}
.slider-handle {
  background-image: linear-gradient(to bottom, $btn-secondary-bg 0%, darken($btn_secondary-bg, 10%) 100%)
}
.slider {
  margin:0px 20px;
}
a.btn {
  white-space: normal;
}
body {
  padding-top:50px;
  background-image:url('../images/background.jpg')
}
.icon {
  position:relative;
  top:-2px;
}
.row-margin {
  margin-top:15px;
}
.chat-image {
  margin-right:15px;
}
.content {
  margin-top:15px;
}
.card-img-top-container {
  overflow:hidden;
  max-height:152px;
}
.card-img-top {
  max-height:100%;
  margin:0 auto;
}
.img-game {

}
.profile-image {
  margin-right:$spacer;
}
.title-game {
  height:2.4em;
  line-height:1.2em;
  overflow:hidden;
}
.main-icon {
  font-size:200%;
}
.conversation-box {
  height:500px;
  background-color:$gray-dark;
  border-radius:10px;
}
.send-message {
  height:90px;
  border:1px solid #ddd;
  border-radius:0;
  border-top:0;
}
.conversation-participants {
  height:50px;
  padding-bottom:10px;
}
.conversation-messages {
  height:340px;
  z-index:1;
  overflow:auto;
  border:1px solid $gray-lightest;
}
.message {
  padding:10px;
  border-bottom:1px solid #ddd;
}
.message:last-child {
  border-bottom:none;
}
.signup-form {
  .help-block {
    color:$gray-lighter;
    font-size:80%;
    margin-top: $spacer/2;
    padding-top:0;
  }
}
.conversation-list {
  padding:10px 0px;
  overflow:auto;
  max-height:400px;
  margin-right:-15px;
}
.create-conversation-form {
  width:80%;
}
.new-conversation, .conversation-thread {
  padding:10px 0px;
}
.popover-data {
  display:none;
}
.user-image {
  position:relative;
  display:inline-block;
  .user-time {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size:80%;
    color:black;
  }
  .user-no-mail {
    position:absolute;
    top:2px;
    right:2px;
    line-height:100%;
    font-weight:bold;
  }
}
.carousel-caption {
  right: 0;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  bottom: 65%;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width:100%;
  .btn {
    white-space: normal;
  }
}
.glass-panel, .bg-glass {
  background: linear-gradient(-45deg, rgba(226,226,226,0.3) 0%, rgba(219,219,219,0.3) 80%, rgba(209,209,209,0.3) 81%, rgba(254,254,254,0.3) 100%);
}
.glass-panel {
  padding:8px;
}
.card {
  padding:($spacer/2);
  border:0px;
  background: linear-gradient(-45deg, rgba(226,226,226,0.3) 0%, rgba(219,219,219,0.3) 80%, rgba(209,209,209,0.3) 81%, rgba(254,254,254,0.3) 100%);
  .card-img-top-container {
    border:1px solid $brand-primary;
    border-bottom:0px;
    background:$gray-dark;
    height:50%;
  }
  .card-block {
    h4 {
      word-break:break-words;
    }
    border:1px solid $brand-primary;
    background: linear-gradient(-45deg, rgba(50,50,50,0.8) 0%, rgba(55,55,55,0.8) 50%, rgba(60,60,60,0.8) 51%, rgba(55,55,55,0.8) 100%);
  }
}
.navbar-search {
  padding:($spacer/2);
}